*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background: #050505;
}

.cube{
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate{
  0%{
    transform: rotateX(-30deg) rotateY(0deg);
  }

  100%{
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube div{
  position: absolute;
  top: 0;
  left: -150;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube div span{
  position: absolute;
  top: 0;
  left: o;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515, blue);
  transform: rotateY(calc(90deg * var(--i))) translateZ(100px)
  ;/* 300 / 2 = 150 */;
}


.top{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #222;
  transform: rotateX(90deg) translateZ(100px);
}

.top::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: blue;
  transform: translateZ(-380px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
  0 0 120px rgba(0, 0, 255, 0.4),
  0 0 120px rgba(0, 0, 255, 0.6),
  0 0 120px rgba(0, 0, 255, 0.8),
  0 0 120px rgba(0,0, 255, 1);
}


@media (max-width:760px) {
  .cube{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
    margin-right: 100px;
  }
  .top{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #222;
    transform: rotateX(90deg) translateZ(49.5px);
  }
  .top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: blue;
    transform: translateZ(-250px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
    0 0 120px rgba(0, 0, 255, 0.4),
    0 0 120px rgba(0, 0, 255, 0.6),
    0 0 120px rgba(0, 0, 255, 0.8),
    0 0 120px rgba(0,0, 255, 1);
  }

  .cube div span{
    position: absolute;
    top: 0;
    left: o;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, blue);
    transform: rotateY(calc(90deg * var(--i))) translateZ(47px)
    ;/* 300 / 2 = 150 */;
  }
}

.cub{
  margin-left: 200px;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate{
  0%{
    transform: rotateX(-30deg) rotateY(0deg);
  }

  100%{
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cub div{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-style: preserve-3d;
}

.cub div span{
  position: absolute;
  top: 0;
  left: o;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  background: linear-gradient(#151515, #00ec00);
  transform: rotateY(calc(90deg * var(--f))) translateZ(100px)
  ;/* 300 / 2 = 150 */;
}


.to{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #222;
  border-radius: 50%;

  transform: rotateX(90deg) translateZ(100px);
}

.to::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;

  background-color: #0f0;
  transform: translateZ(-380px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
  0 0 120px rgba(0, 255, 0, 0.4),
  0 0 120px rgba(0, 255, 0, 0.6),
  0 0 120px rgba(0, 255, 0, 0.8),
  0 0 120px rgba(0, 255, 0, 1);
}


@media (max-width:760px) {
  .cub{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
    margin-left: -10px;
  }
  .to{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #222;
    transform: rotateX(90deg) translateZ(49.5px);
  }
  .to::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: green;
    transform: translateZ(-250px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
    0 0 120px rgba(0, 255, 0, 0.4),
    0 0 120px rgba(0, 255, 0, 0.6),
    0 0 120px rgba(0, 255, 0, 0.8),
    0 0 120px rgba(0, 255, 0, 1);
  }

  .cub div span{
    position: absolute;
    top: 0;
    left: o;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00ec00);
    transform: rotateY(calc(90deg * var(--f))) translateZ(45px)
    ;/* 300 / 2 = 150 */;
  }
}



@font-face {
      font-family: league;
      src: url(/portfolio/LeagueSpartan-SemiBold.ttf);
    }
    *{
      margin: 0;
      padding: 0;
    }
    
    body{
      background-color: black;
    }

    nav{
      display: inline;
      margin-left: 450px;
    }
     h1{
      display: inline;
      font-size: 50px;
      color: transparent;
      -webkit-text-stroke: 2px white;
      font-weight: bold;
      font-family: arial;
      background-image: url('/portfolio/back.png');
      background-position: 0 0;
      background-size: contain;
      -webkit-background-clip: text;
      animation: sky linear infinite 30s;
    }

    @keyframes sky {
      100%{
        background-position: 2000px 0;
      }
    }
    
    .list{
      display: inline-flex;
      list-style: none;
    }
    .list li{
      width: 140px;
    }

    .list li a{
      color: pink;
      text-decoration: none;
      font-weight: bold;
      transition: 0.5s;
    }

    .list li a:hover{
      color: purple;
    }
    .drop
{
  width: 20px;
  display: none;
}

    .main{
      background-color: black;
      padding: 10px;
      position: fixed;
      text-align: center;
      right: 0;
      left: 0;
      top: 0;
      border-bottom: 2px pink solid;
    }

    @media (max-width: 760px) {
      .main{
        background-color: black;
        margin-left: -20px;
      }

      h1{
      display: inline;
      margin-left: 30px;
      font-size: 40px;
      color: transparent;
      -webkit-text-stroke: 2px white;
      font-weight: bold;
      font-family: arial;
      background-image: url('/portfolio/back.png');
      background-position: 0 0;
      background-size: contain;
      -webkit-background-clip: text;
      animation: sky linear infinite 30s;
    }

      nav{
      display: inline;
      position: absolute;
      margin-top: 38px;
      height: 100%;
      /* background-color: black; */
      margin-left: 1000px;
      transition: 3s;

    }

    .menu{
      margin-left: -10px;
      transition: 1s;
    }

    .list{
      display: grid;
      list-style: none;
    }

    .drop
{
  width: 30px;
  display: inline;
  margin-left: 40px;
  top: 19px;
  position: fixed;
}

.list li{
      width: 140px;
      margin-top: 10px;
      margin-left: 5px;
      background-color: black;
      padding: 10px;
    }
    }


    /* styling for the header ends here */